body {
    width: 100%;
    max-width: 100%;
    height: 100%;
    font-family: 'Arimo', sans-serif; 
}
.wrapper {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.table1 {
    text-align: center;
    width: 1143px;
    height: 684px;
    box-sizing: content-box;
    text-transform: uppercase;
    border-collapse: collapse;
    border: 28px solid rgba(58, 73, 101, 1);
    float: left;
    margin-left: auto;
    margin-right: auto;
}
.table1-th:nth-child(1n+2) {
   height: 73px;
   color: #FFFFFF;
   font-size: 24px;
   line-height: 28px;
}
.table1-td {
    border-left: 1px solid #E3E3E3; 
}
.head-table-one {
    width: 1000px;
}

.price {
    position: relative;
    text-align: start;
    padding-left: 33px;
    color: #484848;
    align-items: center;
    border-left: 1px solid #E3E3E3; 
}
.price-cost {
    position: absolute;
    font-weight: 700;
    font-size: 60px;
    line-height: 28px;
    margin-top: -5px;
}
.cost {
    position: absolute;
    top: 5px;
    left: 135px;
    margin-top: 12px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.period-cost {
    position: absolute;
    bottom: 5px;
    left: 138px;
    font-size: 18px;
    line-height: 24px;
}
.icon {
    margin-right: 4px;
}

.table1-th:first-child {
    width: 313px;
    height: 159px;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    text-transform: uppercase;
    color: #484848;
    background: #FAFAFA;
}

tbody>tr {
    height: 72px;
}
tfoot>tr {
    height: 130px;
}
.odd {
    background: #F2F2F2; 
 }
 .even {
    background: #E3E3E3; ;
 }
.btn-grey {
    background-color: #dad7d7;
}
.table1-td> .button {
    text-align: center;
}
.choose-box-one {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 2px;
}
.button:nth-child(1n+2) {
    box-sizing: border-box;
    border-left: 1px solid #E3E3E3; 
}
.button:nth-child(2) {
    background: #EEEEEE;
}
.button:nth-child(3) {
    background-color: #FFFFFF;
}
.button:nth-child(4) {
    background: #EEEEEE;
}
.button-grey {
    width: 195px;
    height: 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    background: #484848;
    padding: 18px 44px;
    border-bottom: 9px solid #404040;
    border-radius: 5px;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 31px;
    margin-bottom: 26px;

}

.button-green {
    background: #89C331;
    border: 2px solid #79B027;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    width: 195px;
    height: 52px;
    padding: 18px 57px;
    border-radius: 5px;
    text-decoration: none;
    color: #FFFFFF;
    border-bottom: 9px solid #79B027;
}
.button-red {
    background: #F04A56;
    border: 2px solid #DF3A46;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    width: 195px;
    height: 52px;
    padding: 18px 58px;
    border-radius: 5px;
    text-decoration: none;
    color: #FFFFFF;
    border-bottom: 9px solid #DF3A46;
}
.button-blue {
    background: #20807C;
    border: 2px solid #16736F;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    width: 195px;
    height: 52px;
    padding: 18px 58px;
    border-radius: 5px;
    border-bottom: 9px solid #16736F;
    text-decoration: none;
    color: #FFFFFF;
}

.table2 {
    text-align: center;
    box-sizing: content-box;
    width: 1143px;
    height: 612px;
    text-transform: uppercase;
    border-collapse: collapse;
    border: 24.5px solid #3A4965;
    float: left;
    margin: 60px auto auto;
    
   
}
.head-table-two {
    height: 102px;
    width: 1143px;
    border-bottom: 15px solid #3A4965;
    border: 25px solid #3A4965;
    box-sizing: border-box;
    
}
.table2-th {
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
    color: #484848;
    box-sizing: content-box;
}
.table2-th:first-child {
    color: #484848;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.choose-box-two {
    font-size: 14px;
    line-height: 28px;
}
.table2-th:nth-child(1n+2) {
    color: #484848;
    width: 160px;
    height: 115px;
}

.table-box-two:nth-child(1n+2) {
    border-top: 1px solid #d7d7d7;
}
.option {
    color: #FFFFFF;
    height: 170px;
    font-weight: 700;
    border: none;
    box-sizing: border-box;
    position: relative;
}

.accent-color1 {
    background-color: #89C331;

}
.accent-color2 {
    background-color: #F04A56;
}
.accent-color3 {
    background-color: #20807C;
}
.class{
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    position: absolute;
    top: 1px;
    left: 23px;
}

.class-price {
    font-size: 36px;
    line-height: 28px;
    margin-top: 4px;
    width: 68px;
    position: absolute;
    top: 55px;
}
.class-price-penny {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    position: absolute;
    top: -5px;
    left: 52px;
}
.period {
    font-size: 14px;
    line-height: 28px;
    position: absolute;
    top: 3px;
    left: 68px;
   width: 112px;
}

.table2-button {
    position: absolute;
    top: 96px;
    left: 25px;
    padding: 8px 19px 8px 21px;
    background-color: #414141;
    border-bottom: 7px solid #343434;
    border-radius: 6px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}